.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    gap: 12px;
}

.item :global(.ant-picker){
    width: 100%;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.button{
    margin: 0 10px;
    min-width: 80px;
}

.passwordItem{
    max-width: 300px;
}

.stepContent{
    padding: 20px;
}